com.filosoft.mobPay.MobilePaymentReceiveSMS/WebContent/wsdl/CReceiveMOMessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://cservices.mikro-odeme.com.tr/mapping/generated" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cservices.mikro-odeme.com.tr/mapping/generated" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cservices.mikro-odeme.com.tr/mapping/generated">

      <s:import namespace="http://microsoft.com/wsdl/types/"/>

      <s:element name="input" type="tns:CReceiveMOMessageInput"/>

      <s:complexType name="CReceiveMOMessageInput">

        <s:sequence>

          <s:element maxOccurs="1" minOccurs="1" name="ReceivedSMSId" type="s1:guid"/>

          <s:element maxOccurs="1" minOccurs="0" name="SenderGSM" type="s:string"/>

          <s:element maxOccurs="1" minOccurs="0" name="ReceiverGSM" type="s:string"/>

          <s:element maxOccurs="1" minOccurs="0" name="OriginalContent" type="s:string"/>

          <s:element maxOccurs="1" minOccurs="0" name="FixedContent" type="s:string"/>

          <s:element maxOccurs="1" minOccurs="1" name="DateReceived" type="s:dateTime"/>

          <s:element maxOccurs="1" minOccurs="1" name="GsmOperator" type="s:int"/>

          <s:element maxOccurs="1" minOccurs="1" name="GsmType" type="s:int"/>

        </s:sequence>

      </s:complexType>

      <s:element name="CReceiveMOMessageOutput" type="tns:CReceiveMOMessageOutput"/>

      <s:complexType name="CReceiveMOMessageOutput">

        <s:sequence>

          <s:element maxOccurs="1" minOccurs="1" name="StatusCode" type="s:int"/>

          <s:element maxOccurs="1" minOccurs="0" name="ErrorCode" type="s:string"/>

          <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>

        </s:sequence>

      </s:complexType>

    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">

      <s:simpleType name="guid">

        <s:restriction base="s:string">

          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>

        </s:restriction>

      </s:simpleType>

    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveMOMessageSoapIn">
    <wsdl:part name="input" element="tns:input">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReceiveMOMessageSoapOut">
    <wsdl:part name="ReceiveMOMessageResult" element="tns:CReceiveMOMessageOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CReceiveMOMessageServiceSoap">
    <wsdl:operation name="ReceiveMOMessage">
      <wsdl:input message="tns:ReceiveMOMessageSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ReceiveMOMessageSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CReceiveMOMessageServiceSoap" type="tns:CReceiveMOMessageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReceiveMOMessage">
      <soap:operation soapAction="http://oley.com/mobilePayment/CReceiveMOMessageService" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CReceiveMOMessageServiceSoap12" type="tns:CReceiveMOMessageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReceiveMOMessage">
      <soap12:operation soapAction="http://oley.com/mobilePayment/CReceiveMOMessageService" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CReceiveMOMessageService">
    <wsdl:port name="CReceiveMOMessageServiceSoap" binding="tns:CReceiveMOMessageServiceSoap">
      <soap:address location="http://localhost:8080/MobilePaymentReceiveSMS/services/CReceiveMOMessageServiceSoap"/>
    </wsdl:port>
    <wsdl:port name="CReceiveMOMessageServiceSoap12" binding="tns:CReceiveMOMessageServiceSoap12">
      <soap12:address location="http://localhost/mobilePayment/ReceiveMOMessag"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
