com.filosoft.mobPay.MobilPaymentRequestProcessor/src/main/resource/wsdl/MOdemeSaleService.wsdl



<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.mikro-odeme.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://services.mikro-odeme.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.mikro-odeme.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SaleWithConfirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:MSaleInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MAuthToken">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MSaleInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MPAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendOrderResult" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductList" type="tns:ArrayOfMSaleProduct" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedSMSObjectId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="SendNotificationSMS" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="OnSuccessfulSMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OnErrorSMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestGsmOperator" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestGsmType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TurkcellServiceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerIpAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMSaleProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MSaleProduct" nillable="true" type="tns:MSaleProduct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MSaleProduct">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductCategory" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Unit" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaleWithConfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleWithConfirmResult" type="tns:MSaleOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MSaleOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderObjectId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GsmOperator" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GsmType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderChannelId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentCategoryId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastTransactionDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MPAY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubscriberId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MicroPaymentResults" type="tns:ArrayOfMMicroPaymentOutput" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMMicroPaymentOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MMicroPaymentOutput" nillable="true" type="tns:MMicroPaymentOutput" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MMicroPaymentOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PaymentObjectId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaleWithoutConfirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:MSaleInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleWithoutConfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleWithoutConfirmResult" type="tns:MSaleOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleWithoutConfirmTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:MSaleInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleWithoutConfirmTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleWithoutConfirmTestResult" type="tns:MSaleOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSaleResultResult" type="tns:MSaleOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleResult2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="1" maxOccurs="1" name="orderId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleResult2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSaleResult2Result" type="tns:MSaleResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MSaleResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderObjectId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GsmOperator" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GsmType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderChannelId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentCategoryId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastTransactionDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MPAY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubscriberId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MicroPaymentResults" type="tns:ArrayOfMMicroPaymentOutput" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BasePrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfMSaleProduct" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryMicroPayments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:MQueryInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MQueryInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Gsm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryMicroPaymentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryMicroPaymentsResult" type="tns:MQueryOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MQueryOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryResultItems" type="tns:ArrayOfQueryResultItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQueryResultItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QueryResultItem" nillable="true" type="tns:QueryResultItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QueryResultItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrderObjectId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GsmOperator" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GsmType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BasePrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LastTransactionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentCategoryId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderChannelId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubscriberId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MPAY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaleWithTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:MSaleTicketInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MSaleTicketInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MPAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendOrderResult" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedSMSObjectId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductList" type="tns:ArrayOfMSaleProduct" />
          <s:element minOccurs="1" maxOccurs="1" name="SendNotificationSMS" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="OnSuccessfulSMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OnErrorSMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestGsmOperator" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestGsmType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuccessfulPageUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorPageUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TurkcellServiceId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaleWithTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleWithTicketResult" type="tns:MSaleTicketOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MSaleTicketOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TicketObjectId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedirectUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="1" maxOccurs="1" name="ticketObjectId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelTicketResult" type="tns:MResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="1" maxOccurs="1" name="ticketObjectId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckTicketResult" type="tns:MResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBokuPricePoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBokuPricePointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBokuPricePointsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditCardProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:MAuthToken" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:CreditCardProxyInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCardProxyInput">
        <s:complexContent mixed="false">
          <s:extension base="tns:MSaleInput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:CreditCardProxyData" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CreditCardProxyData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditCardExpireMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditCardExpireYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardOwner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreditCardProxyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreditCardProxyResult" type="tns:MSaleOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaleWithConfirmSoapIn">
    <wsdl:part name="parameters" element="tns:SaleWithConfirm" />
  </wsdl:message>
  <wsdl:message name="SaleWithConfirmSoapOut">
    <wsdl:part name="parameters" element="tns:SaleWithConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="SaleWithoutConfirmSoapIn">
    <wsdl:part name="parameters" element="tns:SaleWithoutConfirm" />
  </wsdl:message>
  <wsdl:message name="SaleWithoutConfirmSoapOut">
    <wsdl:part name="parameters" element="tns:SaleWithoutConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="SaleWithoutConfirmTestSoapIn">
    <wsdl:part name="parameters" element="tns:SaleWithoutConfirmTest" />
  </wsdl:message>
  <wsdl:message name="SaleWithoutConfirmTestSoapOut">
    <wsdl:part name="parameters" element="tns:SaleWithoutConfirmTestResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetSaleResult" />
  </wsdl:message>
  <wsdl:message name="GetSaleResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetSaleResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleResult2SoapIn">
    <wsdl:part name="parameters" element="tns:GetSaleResult2" />
  </wsdl:message>
  <wsdl:message name="GetSaleResult2SoapOut">
    <wsdl:part name="parameters" element="tns:GetSaleResult2Response" />
  </wsdl:message>
  <wsdl:message name="QueryMicroPaymentsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryMicroPayments" />
  </wsdl:message>
  <wsdl:message name="QueryMicroPaymentsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryMicroPaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="SaleWithTicketSoapIn">
    <wsdl:part name="parameters" element="tns:SaleWithTicket" />
  </wsdl:message>
  <wsdl:message name="SaleWithTicketSoapOut">
    <wsdl:part name="parameters" element="tns:SaleWithTicketResponse" />
  </wsdl:message>
  <wsdl:message name="CancelTicketSoapIn">
    <wsdl:part name="parameters" element="tns:CancelTicket" />
  </wsdl:message>
  <wsdl:message name="CancelTicketSoapOut">
    <wsdl:part name="parameters" element="tns:CancelTicketResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTicketSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTicket" />
  </wsdl:message>
  <wsdl:message name="CheckTicketSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTicketResponse" />
  </wsdl:message>
  <wsdl:message name="GetBokuPricePointsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBokuPricePoints" />
  </wsdl:message>
  <wsdl:message name="GetBokuPricePointsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBokuPricePointsResponse" />
  </wsdl:message>
  <wsdl:message name="CreditCardProxySoapIn">
    <wsdl:part name="parameters" element="tns:CreditCardProxy" />
  </wsdl:message>
  <wsdl:message name="CreditCardProxySoapOut">
    <wsdl:part name="parameters" element="tns:CreditCardProxyResponse" />
  </wsdl:message>
  <wsdl:portType name="MSaleServiceSoap">
    <wsdl:operation name="SaleWithConfirm">
      <wsdl:input message="tns:SaleWithConfirmSoapIn" />
      <wsdl:output message="tns:SaleWithConfirmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaleWithoutConfirm">
      <wsdl:input message="tns:SaleWithoutConfirmSoapIn" />
      <wsdl:output message="tns:SaleWithoutConfirmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaleWithoutConfirmTest">
      <wsdl:input message="tns:SaleWithoutConfirmTestSoapIn" />
      <wsdl:output message="tns:SaleWithoutConfirmTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleResult">
      <wsdl:input message="tns:GetSaleResultSoapIn" />
      <wsdl:output message="tns:GetSaleResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleResult2">
      <wsdl:input message="tns:GetSaleResult2SoapIn" />
      <wsdl:output message="tns:GetSaleResult2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryMicroPayments">
      <wsdl:input message="tns:QueryMicroPaymentsSoapIn" />
      <wsdl:output message="tns:QueryMicroPaymentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaleWithTicket">
      <wsdl:input message="tns:SaleWithTicketSoapIn" />
      <wsdl:output message="tns:SaleWithTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <wsdl:input message="tns:CancelTicketSoapIn" />
      <wsdl:output message="tns:CancelTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTicket">
      <wsdl:input message="tns:CheckTicketSoapIn" />
      <wsdl:output message="tns:CheckTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBokuPricePoints">
      <wsdl:input message="tns:GetBokuPricePointsSoapIn" />
      <wsdl:output message="tns:GetBokuPricePointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreditCardProxy">
      <wsdl:input message="tns:CreditCardProxySoapIn" />
      <wsdl:output message="tns:CreditCardProxySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSaleServiceSoap" type="tns:MSaleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaleWithConfirm">
      <soap:operation soapAction="http://services.mikro-odeme.com/SaleWithConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleWithoutConfirm">
      <soap:operation soapAction="http://services.mikro-odeme.com/SaleWithoutConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleWithoutConfirmTest">
      <soap:operation soapAction="http://services.mikro-odeme.com/SaleWithoutConfirmTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleResult">
      <soap:operation soapAction="http://services.mikro-odeme.com/GetSaleResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleResult2">
      <soap:operation soapAction="http://services.mikro-odeme.com/GetSaleResult2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMicroPayments">
      <soap:operation soapAction="http://services.mikro-odeme.com/QueryMicroPayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleWithTicket">
      <soap:operation soapAction="http://services.mikro-odeme.com/SaleWithTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <soap:operation soapAction="http://services.mikro-odeme.com/CancelTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTicket">
      <soap:operation soapAction="http://services.mikro-odeme.com/CheckTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBokuPricePoints">
      <soap:operation soapAction="http://services.mikro-odeme.com/GetBokuPricePoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditCardProxy">
      <soap:operation soapAction="http://services.mikro-odeme.com/CreditCardProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MSaleServiceSoap12" type="tns:MSaleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaleWithConfirm">
      <soap12:operation soapAction="http://services.mikro-odeme.com/SaleWithConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleWithoutConfirm">
      <soap12:operation soapAction="http://services.mikro-odeme.com/SaleWithoutConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleWithoutConfirmTest">
      <soap12:operation soapAction="http://services.mikro-odeme.com/SaleWithoutConfirmTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleResult">
      <soap12:operation soapAction="http://services.mikro-odeme.com/GetSaleResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleResult2">
      <soap12:operation soapAction="http://services.mikro-odeme.com/GetSaleResult2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMicroPayments">
      <soap12:operation soapAction="http://services.mikro-odeme.com/QueryMicroPayments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleWithTicket">
      <soap12:operation soapAction="http://services.mikro-odeme.com/SaleWithTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTicket">
      <soap12:operation soapAction="http://services.mikro-odeme.com/CancelTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTicket">
      <soap12:operation soapAction="http://services.mikro-odeme.com/CheckTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBokuPricePoints">
      <soap12:operation soapAction="http://services.mikro-odeme.com/GetBokuPricePoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditCardProxy">
      <soap12:operation soapAction="http://services.mikro-odeme.com/CreditCardProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSaleService">
    <wsdl:port name="MSaleServiceSoap" binding="tns:MSaleServiceSoap">
      <soap:address location="http://vas.mikro-odeme.com/services/msaleservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MSaleServiceSoap12" binding="tns:MSaleServiceSoap12">
      <soap12:address location="http://vas.mikro-odeme.com/services/msaleservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>